{% if upstreams is defined %}
upstream backservers {
{% for item in upstreams %}
    server {{ item.host}}:{{ item.port }};
{% endfor %}
    }
{% endif %}

server {
	listen {{ nginx_port }} default_server;
        listen [::]:{{ nginx_port }} default_server;

        server_name _;
	{% if upstreams is defined %}
        location / {
                proxy_pass http://backservers;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Real-IP $remote_addr;
        }
	{% else %}
	root /var/www/html;
        index index.html index.htm index.nginx-debian.html;
        location / {
        	try_files $uri $uri/ =404;
	}
	{% endif %}

}

{% if upstreams is defined and create_self_backend %}
{% for item in upstreams %}	
server {
	listen {{ item.host }}:{{ item.port }};
        root /var/www/html;
        index index.htm index.html;
        location / {
                try_files $uri $uri/ =404;
        }
}
{% endfor %}
{% endif %}
